* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: #000; */
    transition: 1.2s;

}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30rem;
    /* height:15rem; */
    background-color: white; 
    /* 1rem=16px */
    padding: 10px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
}
button{
    margin-top: 5px;
    width: 100%;
    display: block;
    background-color: black;
    font-size: 25px;
    color: white;
    border: none;
}
#btn:hover{
cursor: pointer;
}